* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ubuntu;
}
body {
    background-color: #eaeaea;
}
.button {
    cursor: pointer;
}
.button:hover{
    opacity: 0.6;
}
.button.inactive{
    cursor: auto;
    opacity: 0.6;
}
h1 {
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
}
h2 {
    margin: 0 auto;
    padding-left: 10px;
}
.column {
    float: left;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
hr.main {
    border-top: 3px double black;
}
#loader-img {
    position: absolute;
    left: 40%;
    top: 30%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 20vw;
    padding-top: 20vw;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #eaeaea;
    z-index: 1000;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
p, label {
    margin-left: 10px;
}
.channel {
    height: 90px;
    width: auto;
}
.channel-label {
    height: 90px;
    box-shadow: inset 0px 0px 0px 1px black;
    box-sizing: border-box;
    text-align: center;
}
select, button, form {
    display: inline-block;
}
#func {
    background: white;
}
#channel-container {
    background: black;
    min-height: 90px;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
}
#channel-label-container {
    min-height: 90px;
}
#channels {
    margin-top: 20px;
    border: 2px solid black;
    background: lightgrey;
    position: relative;
}
.discont {
    position: absolute;
    height: 80px;
    width: 30px;
    border: 2px solid red;
    top: 5px;
    left: -15px;
}
.block canvas {
    height: 90px;
}
.block {
    height: 90px;
    box-shadow: inset 0px 0px 0px 1px dimgray;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
}
.block.selected {
    box-shadow: inset 0px 0px 0px 2px indianred;
    box-sizing: border-box;
}
td:nth-of-type(2) {
    padding-left: 50px;
}
.column.left {
    box-shadow: inset 0px 0px 0px 1px black;
    box-sizing: border-box;
}
.event-title {
    text-align: center;
    height: 3em;
    margin: 0;
    border-right: 2px solid black;
    display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
#signals {
    max-height: 270px;
    overflow-y: scroll;
}
#event-names {
    overflow-x: scroll;
    white-space: nowrap;
    height: 3em;
    display: inline-block;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#event-names::-webkit-scrollbar {
    display: none;
}
#fullscreen {
    position: absolute;
    z-index: 10;
}
code {
    font-family: 'Source Code Pro', monospace;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}