* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#json-options {
    font-family: ubuntu;
}
hr.main {
    border-top: 3px double black;
}
#loader-img {
    position: absolute;
    left: 40%;
    top: 30%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 20vw;
    padding-top: 20vw;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #eaeaea;
    z-index: 1000;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
label {
    margin-left: 10px;
}
#json-options form, #json-options label {
    display: inline-block;
}
#json-options select {
    width: 300px;
}
code {
    font-family: 'Source Code Pro', monospace;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}