* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ubuntu;
}
body {
    background-color: #eaeaea;
}
.button {
    cursor: pointer;
}
.button:hover{
    opacity: 0.6;
}
.button.inactive{
    cursor: auto;
    opacity: 0.6;
}
h1 {
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
}
h2 {
    margin: 0 auto;
    padding-left: 10px;
}
.column {
    float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
hr.main {
    border-top: 3px double black;
}
#loader-img {
    position: absolute;
    left: 40%;
    top: 30%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 20vw;
    padding-top: 20vw;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #eaeaea;
    z-index: 1000;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
p {
    margin-left: 10px;
}
.block {
    border-right: 1px solid dimgray;
    position: relative;
    display: inline-block;
}
.block canvas {
    width: 160px;
    height: 90px;
}
.channel {
    height: 90px;
    border-bottom: 1px solid dimgray;
    width: auto;
}
.channel-label {
    height: 90px;
    border-bottom: 1px solid black;
}
#block-container {
    margin-top: 20px;
}
select, button, form {
    display: inline-block;
}
#func {
    background: white;
}
#channel-container {
    background: black;
    min-height: 90px;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
}
#channel-label-container {
    min-height: 90px;
}
.channel.ui-selecting {
    background: rgba(191, 239, 255, 0.3);
}
.channel.ui-selected {
    background: rgba(191, 239, 255, 0.2);
}
#channels {
    max-height: 270px;
    overflow-y: scroll;
    margin-top: 20px;
    border: 2px solid black;
    background: lightgrey;
}
.channel-label {
    text-align: center;
}
.discont {
    position: absolute;
    height: 80px;
    width: 30px;
    border: 2px solid red;
    top: 5px;
    left: -15px;
}