body{
    width: 100%;
    height: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 13px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.hidden{
    display:hidden;
}

.mainTabs{
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.mainTab{
    height: 40px;
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

}

.mainTabContent{
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    justify-content: center;
    display: none;
    flex-direction: row;
}

.mainTabContent.active{
    display: flex;
}

.config-popup{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #EEF9FD;
    z-index: 100;
    display: flex;
    flex-direction: column;
}


td {
    position: relative;
}

td input[type="text"], textarea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;
    background: transparent;

    /* for full width without spacing */
    width: 100%;
    border: none;
}


.inner-element{
  position: relative;
  max-height: 100%;
  width:100%;
  margin-right: 0px;
  margin-left: auto;
  text-align: center;
  padding: 20px;
  border: 0px solid #98a5ab;
  border-radius: 0px;
  background-color: #EEF9FD;
  display: inline-block;
}

.context{
    min-width: 4%;
    padding: 10px;
    overflow-wrap: anywhere;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #EEF9FD;
    display: flex;
    flex-direction: column;
}

#eventTableSelector{
   min-width: 100px;
   width: 10%;
}

#sort-container{
    min-width: 30%;
    margin-left: 0px;
    border: 1px none black;
    margin-right: 0px;
    resize: horizontal;
    overflow: auto;
}

#event-list{
   min-width: 80px;
   background-color: #53616e;
   border: 0px solid #98a5ab;
   box-shadow: none;
   color: white;
   overflow: auto;
}

#parameter_panel{
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:auto;
    width: 40%;
    overflow: auto;
}

#eventScroller{
    width:50%;
    border: 1px solid black;
}

#sort-boxes{
    max-height: 94%;
    overflow: auto;
}

.hoz-context{
    background-color: transparent;
    padding: 1px;
    border-radius: 0px;
    width: 100%;
    min-height: 10px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

#search-events{
    margin: 4px;
    display: inline-block;
}

.sequence {
    margin: auto;
    margin-right: 0px;
    text-align: left;
    color: red;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

/* so that tab text field borders don't get highlighted when you click on them*/
input, span {
  outline-style:none;
}

span{
    min-width: 50px;
    white-space: nowrap;
    margin-bottom: 5px;
}

.groupName, .event-name{
    background-color: transparent;
    border: none;
}

.groupName{
    margin-bottom: 5px;
}

.menu-bar{
    display: flex;
    flex-direction: horizontal;
    margin-bottom: 10px;

}



.sort-tabs-bar{
    width: 100%;
    min-height: 35px;
    display: flex;
    align-items: left;
    background-color: #FFF;
    overflow:auto;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.sort-tabs-bar{
    background-color: transparent;
    margin-bottom: 0px;
    margin-top: 10px;
}

.sort-box{
    background-color: white;
    border: 1px solid #99c7e0;
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
}

.sort-menu{
    width: 100%;
    text-align: center;
    position: relative;
    height: 50px;
}

.sort-box .tab{
    width: 60%;
    background-color: white;
    border: 1px none white;
    margin-bottom: 5px;
    outline-style: none;
    overflow: auto;
}

.tab input{
    border: none;
}

.sort-box.active{
    background-color: #edf6ff;
}

.sort-box th{
    background-color: white;
}

span br{
    display: none;
}

.tabs-bar{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-height: 80%;
}


.tabs-bar .tab {
  width: 100%;
  min-height: 35px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: #EFEFEF;
  border: 0px solid #7F7F7F;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #646464;
  user-focus: none;
  user-select: none;
  outline-style:none;
  overflow: auto;
  background-color: #EFEFEF;
  background-color: transparent;
}



.tabs-bar .tab.active{
    background-color: white;
    color: #000;
}

/*.sort-tabs-bar .tab.active{
    background-color: white;
    border: 1px solid #99c7e0;
    border-radius: 10px;
}*/


ul{
    text-align: center;
    margin:auto;
    margin-top: 10px;
    padding: 0;
}

.sorter{
    margin-bottom: 6px;
    width: 100%;
    user-focus: none;
}
.groupSorter.active{
    font-weight: bold;
}
.sorter.active{
    color: #c9e5ff;
}

.config{
    outline-style: none;
}
.config.active{
    background-color:white;
}
.sort-box table {
    border: 1px solid #ddd;
    -webkit-user-modify: read-only;
    width: 100% !important;
}

.sort-box table td.readonly{
    -webkit-user-modify: read-only;
    color: #B1B1B1;
    background-color: #ddd;
}

.sort-box table td{
    border: 1px solid #ddd;
    -webkit-user-modify: read-only;
}


.flex{
    display:flex;
    flex-direction:horizontal;
    text-align: center;
}

.groupBox{
    display:flex;
    flex-direction:column;
    text-align: center;
    width: 100%;
}

.second-tables{
    height: 100%;
    overflow: auto;
}
.second-tables table{
    margin-bottom: 10px;
}

.second-tables td {
    border: 1px solid #ddd;
    width: 50px;
    -webkit-user-modify: read-only;
    user-focus: none;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: right;
}

.table-box{
    min-width: 50%;
    position: relative;
    height: 90%;
    margin-top: 0px;
    overflow-y: none;
    resize: horizontal;
    margin-right: 0px;
    margin-left: 0px;
    border: 1px none black;
}

.table-box .menu-bar{
    background-color: #e3f1ff;
    top: 0px;
    width: 100%;
}


.table-row{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-right: 20px;
    border: 1px none;
    border-radius: 0px;
}
.table-buttons{
    width: 100%;
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.row-subset{
    margin-left: 0px;
    width: 100%;
    border: 1px none gray;
    border-radius: 5px;
}

button{
    width: 100%;
    font-family: Roboto;
    background-color: #dceef7;
    box-sizing: border-box;
    padding: 3px;
    margin-right: 5px;
    border: none;
}

.table-box .menu-bar button {
    width: 25%;
    margin: auto;
    height: 30px;
    background-color: transparent;
}

button[class=options]{
    background-color: transparent;
    border: none;
}

.rel button {
    margin-bottom: 10px;
    border: 3px solid transparent;
}

option{
   width: 150px;
}



table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 13px;
}

.table-row thead{
    color: black;
    background-color: #EEF9FD;
}

.table-row{
    border: 1px none #000;
}

table.dataTable thead th {
    font-weight: normal;
    width: 100px;
};


.dataTables_filter {
   float: left !important;
}

.logged input {
    color: #4a82a1;
}

.updated input, .updated{
    font-weight: bold;
}

.blue input {
    background-color: #dbf6ff !important;
}

td select{
    width: 100%;
    border: none;
    height: 30px;
}
tr{
    height:30px
}

#paramContext{
    width: 40%;
}
#paramSet{
    overflow: auto;
}
#paramRepo{
    width: 40%;
    display:flex;
    flex-direction: column;
}

#paramRepo input{
    width: 50px;
}

.pList{
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}
