<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/favicon.svg">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery-ui-ext.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax_comet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax_upload.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/selectableScroll.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/python.js') }}"></script>
    <script src="https://unpkg.com/function-plot/dist/function-plot.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable@8.2.0/dist/handsontable.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@8.2.0/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
    <script>{{ form_init_js|safe }}</script>
    <script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>
    <title>Seneca</title>
</head>
<body onload="remove_loader()">
    <div id="loader">
        <div id="loader-img"></div>
    </div>
    {% block content %}{% endblock %}
    <script src="../static/js/main.js"></script>
    <script>
        function remove_loader() {
            setTimeout(hide_loader, 1000);
        }
        function hide_loader() {
            $('#loader').hide();
        }
    </script>
</body>
</html>