{% extends "base.html" %}
{% block content %}
    <h1>Viewer</h1><hr class="main">
    <div class="row" id="channel-options">
        <button onclick="$('#file-upload').trigger('click');">Upload JSON</button>
        <form id="upload-json" name="upload-json" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file-upload" style="display: none;" onchange="form.submit();"/>
        </form>
        <select id="json">
            <option value="none">None</option>
            {%- for id, filename in json_options.items() %}
                <option value="{{ id }}">{{ filename }}</option>
            {%- endfor %}
        </select>
        <button id="remove-json">Remove JSON</button>
        <button id="new-channel">New Channel</button>
        <button id="new-block">New Block</button>
        <label for="block-type">Block Type:</label>
        <select name="block-type" id="block-type">
            <option value="sine" selected="selected">Sine</option>
            <option value="saw">Saw</option>
            <option value="square">Square</option>
            <option value="pulse">Pulse</option>
            <option value="tri">Triangle</option>
            <option value="const">Constant</option>
            <option value="func">Function</option>
        </select>
        <p id="func-enter">Enter function: <span id="func"></span></p><br/>
        <p>Selected channels: <span id="selected-channels">None</span></p>
    </div>
    <div class="row" id="channels">
        <div class="column" style="width: 10%;">
            <div id="channel-label-container"></div>
        </div>
        <div class="column" style="width: 90%;">
            <div id="channel-container"></div>
        </div>
    </div>
{% endblock %}