{% extends "base.html" %}
{% block content %}
    <div id="json-options">
        <button onclick="$('#file-upload').trigger('click');">Upload JSON</button>
        <form id="upload-json" name="upload-json" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file-upload" style="display: none;" onchange="form.submit(); form.reset();"/>
        </form>
        <button id="remove-json">Remove JSON</button>
        <button id="view-code">View Code</button>
        <button id="visualize">Visualize Signals</button>
        <label for="json-select">JSON select: </label>
        <select id="json-select" name="json">
            {%- for id, filename in json_options.items() %}
                <option value="{{ id }}">{{ filename }}</option>
            {%- endfor %}
        </select><hr class="main">
        <div id="code-dialog">
            <code id="json-code"></code>
        </div>
    </div>
    <div id="main-tabs">
        <ul>
            <li><a href="#spreadsheet">Define Logic</a></li>
            <li><a href="#parameter">Set variables</a></li>
            <li><a href="#translator">Translate</a></li>
        </ul>
        <div id="spreadsheet" style="display:hidden;">
            <div class="flex">
                <div class="inner-element" id="event-list" style="text-align:center;"><span>drag + drop</span></div>

                <div class="inner-element" id="sort-container">
                    <div class="menu-bar">
                        <button class="upload" style="background-color: white;">upload selected</button>
                        <button class="config">help</button>
                        <button id="toggleSorter">toggle sorter</button>
                        <button class="save">save JSON</button>
                    </div>
                    <div class="config-popup" style="display:none">
                        <div style="text-align:left; margin-left: 30px; margin-bottom: 10px;">configuration file: {{configfile}}</div>
                        <div style="text-align: left; margin-left: 30px; margin-bottom: 10px;">keyboard shortcuts:
                            <li>ctrl + a: update</li>
                            <li>ctrl + q: focus on spreadsheet </li>
                        </div>
                        <div class="menu-bar">
                            <button>edit file</button>
                            <button>choose new file</button>
                        </div>
                    </div>
                    <div class="menu-bar">
                        <button class="all">toggle all</button>
                        <button class="addGroup">add event</button>
                        <button class="addEvent">add event subgroup</button>
                        <input id='upload-json' type='file' hidden/>
                    </div>
                    <div class="hoz-context">
                        <input type="text" id="fileName" placeholder="file name" style="height:15px;">
                    </div>
                    <div id="sort-boxes"></div>
                </div>
                <div class="table-box">
                    <div class="menu-bar">
                        <button class="all-tabs" style="display:none;">all tables</button>
                        <button class="update">update</button>
                        <button class="clear-selected">clear selection</button>
                        <button class="delete-selected">delete selected</button>
                    </div>
                    <div class="second-tables">
                        <!-- dynamic tables here -->
                    </div>
                </div>
                <div class="inner-element" id="eventTableSelector">
                    <div class="tabs-bar"></div>
                    <div class="parameter-box" style="display:none;">
                        <select id="variable-lists">
                            <option value="" disabled selected>parameter</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="parameter">
            <div class="flex">
                <div class="context" id="paramContext">
                    <p>
                        <button id="generate">Generate?</button>
                    </p>
                    <p> Current file path:</p>
                    <p> {{ file_folder }}</p>
                    <pre id="jsonDisplay"></pre>
                </div>
                <div class="inner-element" id="paramSet">
                    <div class="hoz-context">
                        <button id="resetSort">sort by event</button>
                        <button id="getSettables">settables only</button>
                        <input id="paramSearch" placeholder="Search...">
                    </div>
                    <div class="pList">
                        <table id="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sets</th>
                                <th>Event Type</th>
                                <th>subEvent</th>
                                <th>subEvent Group</th>
                                <th>Event</th>
                                <th>value</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="context" id="paramRepo">
                    <button>save</button>
                    <div id="clearAll" style="margin: 5px;">get all </div>
                </div>
                <div class="inner-element" style="width: calc(100% - 1200px);">
                    placeholder
                </div>
            </div>
        </div>
        <div id="translator">
            <p>Placeholder</p>
        </div>
    </div>
{% endblock %}