{% extends "base.html" %}
{% block content %}
    <h1>Viewer</h1><hr class="main">
    <div id="block-info">
        <table>
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <div id="block-params"></div>
            </tbody>
        </table>
    </div>
    <div class="row" id="channel-options">
        <button onclick="$('#file-upload').trigger('click');">Upload JSON</button>
        <form id="upload-json" name="upload-json" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file-upload" style="display: none;" onchange="form.submit();"/>
        </form>
        <select id="json">
            <option value="none">None</option>
            {%- for id, filename in json_options.items() %}
                <option value="{{ id }}">{{ filename }}</option>
            {%- endfor %}
        </select>
        <button id="remove-json">Remove JSON</button>
        <p>Selected channels: <span id="selected-channels">None</span></p>
        <label for="ch-filter">Channel filter: </label>
        <input id="ch-filter">
    </div>
    <div id="channels">
        <div class="row">
            <div class="column left" style="width: 10%;">
                <p>Events</p>
            </div>
            <div class="column" style="width: 90%;" id="event-names"></div>
        </div>
        <div id="signals">
            <div class="row">
                <div class="column left" style="width: 10%;">
                    <div id="channel-label-container"></div>
                </div>
                <div class="column" style="width: 90%;">
                    <div id="channel-container"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}