<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/spreadsheet.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>

    <script type="text/javascript"
            src="https://cdn.datatables.net/plug-ins/1.10.21/api/order.neutral().js"></script>
    <script type="text/javascript">
        var configuration=JSON.parse({{config | tojson | safe}});
    </script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/spreadsheet.js') }}"></script>
        <script type="text/javascript">
            {{ g.sijax.get_js()|safe }}
        </script>
</head>
<body>
<div class="mainTabs">
    <div class="mainTab" data-tabID="spreadsheet">Define logic</div>
    <div class="mainTab" data-tabID="parameter">Set parameters</div>
    <div class="mainTab" data-tabID="visualizer">Visualize</div>
    <div class="mainTab" data-tabID="visualizer">Translate</div>
</div>
<div class="mainTabContent" id="spreadsheet">
    <div class="inner-element" id="event-list" style="text-align:center;"><span>drag + drop</span>
        <ul id="sort"></ul>
    </div>
    <div class="inner-element" id="sort-container">
        <div class="config-popup" style="display:none">
            <div style="text-align:left; margin-left: 30px; margin-bottom: 10px;">configuration file: {{configfile}}
            </div>
            <div class="flex">
                <button>edit file</button>
                <button>choose new file</button>
            </div>
        </div>

        <button class="config" style="margin-bottom:10px;">configuration</button>
        <div class="menu-bar">
            <button class="upload">upload</button>
            <button class="all">toggle all</button>
            <button class="save">save JSON</button>
            <button class="addEvent">add event</button>
            <input id='upload-json' type='file' hidden/>
        </div>
        <div class="hoz-context">
            <input type="text" id="fileName" placeholder="file name">

        </div>
        <div id="sort-boxes"></div>
    </div>
    <div class="table-box">
        <div class="menu-bar">
            <button class="all-tabs">all tables</button>
            <button class="update">update</button>
            <button class="clear-selected">clear selection</button>
            <button class="delete-selected">delete selected</button>
        </div>
        <div class="second-tables">
            <!-- dynamic tables here -->
        </div>
    </div>
    <div class="context">
        <div class="tabs-bar"></div>
        <div class="parameter-box" style="display:none;">
            <select id="variable-lists">
                <option value="" disabled selected>parameter</option>
            </select>
        </div>
    </div>
</div>
<div class="mainTabContent" id="parameter" >
    <div class="context" id="paramContext">
        <p> <button id="generate" >Generate?</button></p>
        <p> Current file path:</p>
        <p> {{ file_folder }}</p>
        <p>Select file</p>
        <select id="jsonSelector" onchange="Sijax.request('get_json', [this.value]);">
             {% for item in files %}
            <option >{{ item }} </option>
            {% endfor %}
        </select>
        <pre id="jsonDisplay"></pre>
    </div>
    <div class="inner-element" id="paramSet">
        <div class="hoz-context">
            <button id="resetSort">sort by event</button>
            <button id="getSettables">settables only</button>
            <input id="paramSearch" placeholder="Search...">
        </div>
        <div class="pList">
            <table id="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Sets</th>
                            <th>Event Type</th>
                            <th>subEvent</th>
                            <th>Event</th>
                            <th>value</th>
                        </tr>
                    </thead>
            </table>
        </div>
    </div>
    <div class="context" id="paramRepo">
        <button>save</button>
        context panel 1
    </div>
</div>
<div class="mainTabContent" id="visualizer">placeholder</div>
<div class="mainTabContent" id="translator">placeholder</div>
</body>


<script>

var activeFile;
    function generate(jsonText){
        $("#paramRepo").empty();
	    $("#paramSet").children(".pList").empty();
        var variables= [];
        var activeFile= JSON.parse(jsonText);
        $.each(activeFile, function (index, event) {
            subEvents=event["subEvents"];
            $.each(subEvents, function(index, subEvent){
                $("#paramSet").children(".pList").append("<span>"+subEvent["eventType"]+"</span>");
                $.each(subEvent, function(key, value){
                    if (key != "eventType"){
                        variables.push(value);
                    }
                });
            });
	    });
	    variables = [...new Set(variables)];
	    $.each(variables, function (index, variable) {
	        $("#paramRepo").append("<li>"+variable+"</li>");
	        $("#paramSet").children(".pList").append("<span>"+variable+" <input></span>");
	    });
    };

$(document).ready(function () {
    $("#table").find('th').hide();
    $("#paramSearch").hide();

    $(document).on('click', "#generate", function(e){
       // generate($("#jsonDisplay").html());
       $('#table').DataTable().destroy();
       $('#table').find('tbody').remove();
       $("#table").find('th').show();
       $("#paramSearch").show();
        var table = $("#table").DataTable({
            "columns": [
                {"name": "name"},
                {"name": "sets"},
                {"name": "eventType"},
                {"name": "subEvent"},
                {"name": "Event"},
                {
                    "name": "Value",
                    "render": function (data, type, row) {
                        if (type === 'display') {
                            return data;
                        } else {
                            return data;
                        }
                    }
                },
            ],
			"columnDefs": [{
					"defaultContent": "",
					"targets": "_all"
				},
				{
				    "visible": false,
				    "targets": [2,3,4]
				},
				{
					"className": "cell-border",
					"targets": "none"
				},
			],
			"dom": '<"top"Btip>',
			buttons: [],
			"bSort": true,
			serverSide: false,
			"paging": false,
             rowGroup: {
                dataSrc: [4,3]
            },
            colReorder: true,
            order: [[4]]
		});
        var jsonText = $("#jsonDisplay").html();
		var activeFile= JSON.parse(jsonText);
        $.each(activeFile, function (index, event) {
            var subEvents=event["subEvents"];
            var variables =[];
            $.each(subEvents, function(index2, subEvent){
                //$("#paramSet").children(".pList").append("<span>"+subEvent["eventType"]+"</span>");
                $.each(subEvent, function(key, value){
                    var eventType=subEvent["eventType"];
                    var inputType = configuration["original"][eventType][key];
                    var newRow = table.row.add([value, key, subEvent["eventType"], subEvent["name"], index, undefined]);
                    if (key != "eventType" && inputType == "set"){
                        if (!variables.includes(value)){
                            var $variableInput = $("<span>" + value + " <input></span>");
                            $variableInput.attr('varName', value);
                            $("#paramRepo").append($variableInput);
                            variables.push(value);
                        }

                        $(newRow.node()).addClass("selected");
                    }
                });
            });
	    });
        table.draw();
    });


    $(document).on('input', "#paramSearch", function(e){
         var table=$('#table').DataTable();
         table.search( $(this).val() ).draw();
    });

    $(document).on('click', "#resetSort", function(e){
         var table=$('#table').DataTable();
         table.order.neutral().draw();
    });

    var showingSettables = false;
	$(document).on('click', '#getSettables', function (e) {
	    var table = $('#table').DataTable();
            if (showingSettables == false) {
                $.fn.dataTable.ext.search.push(
                    function (settings, data, dataIndex) {
                        return $(table.row(dataIndex).node()).hasClass('selected');
                    }
                );
            } else if (showingSettables == true) {
                $.fn.dataTable.ext.search.pop();
            }
            showingSettables = !showingSettables;
            table.draw();
    });
});
</script>
