<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizer</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax_comet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax_upload.js') }}"></script>
    <link href="{{ url_for('static', filename='css/visualizer.css') }}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script>{{ g.sijax.get_js()|safe }}</script>
</head>
<body>
    <div class="row">
        <div class="column" style="width: 60%;">
            <div id="filters">
                <label for="ch-filter">Channel filter</label><br/>
                <select id="ch-filter" name="channels[]" multiple="multiple"></select><br/><br/>
                <label for="grp-filter">Group filter</label><br/>
                <select id="grp-filter" name="groups[]" multiple="multiple"></select><br/><br/>
            </div>
        </div>
        <div class="column" style="width: 40%;">
            <div id="event-info">
                <table id="info-table">
                    <caption id="caption">None</caption>
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="params"></tbody>
                </table>
            </div>
        </div>
    </div><br/><br/>
    <div id="visualization">
        <div class="column" style="width: 20%;">
            <div id="dummy">
                <span style="position: absolute; left: 10%; bottom: 10%;">Channels</span>
                <span style="position: absolute; right: 10%; top: 10%;">Groups</span>
            </div>
            <div id="channel-label-container"></div>
        </div>
        <div class="column" style="width: 80%;">
            <div id="group-label-container"></div>
            <div id="channel-container"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
</body>
</html>